//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;700&display=swap');

//Colors
$yellow: #ffbb3f;
$purple: #8a39ee;
$lt-grey: #9c96a4;
$grey: #3d404e;

@mixin serif {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

//Form Elements


.btn-yellow-small{
  all: initial;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 3px $yellow;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  background-color: $yellow;

  & img{
    height: 100%;
  }

  & a{
    display: flex;
    height: 70%;
  }
  

  &:hover {
    background-color: $grey;
  }
}

.btn-yellow {
  background-color: $yellow;
  font-size: 14pt;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 3px $yellow;

  &:focus {
    outline: none;
  }

  &:hover {
    border: solid 3px $yellow;
    background-color: $grey;
  }
}

.input-with-button {
  white-space: nowrap;
  overflow: hidden;

  input[type='text'] {
    color: #9c96a4;
    padding: 20px;
    border-radius: 40px;
    border: solid 3px white;
    width: 70vw;
    max-width: 500px;
    filter: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #9c96a4;

      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      color: #9c96a4;
    }

    &::-ms-input-placeholder {
      color: #9c96a4;
    }
  }

  // input[type='submit'] {
  button{
    color: white;
    background-color: $yellow;
    padding: 20px 30px;
    border-radius: 40px;
    border: solid 3px $yellow;
    text-transform: uppercase;
    margin-left: -60px;
    cursor: pointer;
    font-weight: 700;

    &:focus {
      outline: none;
    }

    &:hover {
      border: solid 3px $yellow;
      background-color: $grey;
    }
  }
}

//Header

header {
  z-index: 3;
  position: fixed;
  width: 100%;
  transition: .1s;


  &.sticky-header{
    background-color: $grey;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 50px rgba($color: #000000, $alpha: .5)
  }

  //Top Bar with icons

  .top-bar {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 700;
    padding: 8px 10px;
  }

  span {
    margin-right: 10px;
  }

  img {
    margin-left: 10px;
    height: 14px;
  }

  //Logo & Menu

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    li {
      padding: 20px;
    }
  }

  .header-logo {
    height: 50px;
  }

  .burger-menu {
    cursor: pointer;
  }
}

//Showcase
.showcase {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

//Showcase Content

.showcase-message {
  z-index: 2;
  color: white;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;

  h1 {
    @include serif;
    font-size: 42pt;
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12pt;
  }
}
.overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../assets/showcase-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  opacity: 0.6;
}

.mobile-menu-links {
  padding: 40px;
  top: 0;
  left: 100%;
  height: 100vh;
  background-color: $grey;
  position: absolute;
  z-index: 5;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  button {
    background-color: transparent;
    padding: 0;
    border: none;
    text-align: left;
    color: white;
    margin: 10px 0px;
    text-transform: uppercase;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    white-space: nowrap;

    &:not(.close):hover {
      border-bottom: solid 2px $yellow;
    }

    &:focus {
      outline: none;
    }
  }

  .close {
    font-size: 36pt;
    transition: 0.2s;
    transform: rotate(45deg);
    display: flex;

    &:hover {
      transform: rotate(135deg);
    }
  }
}

//Sections

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  position: relative;
  z-index: 3;

  .bg-overlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    opacity: 0.6;
  }

  h2 {
    text-transform: uppercase;
    color: $lt-grey;
    font-size: 12pt;
    position: relative;
    margin-bottom: 40px;
    z-index: 3;

    &::before {
      width: 80px;
      height: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 40px;
      background-color: $yellow;
      position: absolute;
      content: '';
    }
  }
}

.section-content {
  padding: 0 20px;
  text-align: center;
  z-index: 3;

  h1 {
    @include serif;
    margin-bottom: 20px;
  }

  h1.white-text {
    @include serif;
    margin-bottom: 20px;
    color: white;
  }




  .mobile-flex-direction-switch {
    display: flex;
    flex-direction: column;
  }

  .team-card {
    background-color: #f5f5f5;
    border: solid 1px #dcdcdc;
    padding: 30px;
    margin: 20px 20px;
    flex: 1;

    img {
      height: 100px;
      border-radius: 50%;
      object-fit: scale-down;
    }

    .name {
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      font-family: 'Poppins', sans-serif;
    }
    .title {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      text-transform: capitalize;
    }

    .quote {
      margin: 20px 0;
      font-size: 12pt;
      font-weight: 300;
      color: #424242;
    }
  }

  //Subscribe Sections

  .thank-you-message {
    color: $lt-grey;
    font-weight: 700;
    padding: 10px;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 18pt;
    transform: scale(1);
    transition: 0.5s ease;

    &.show {
      opacity: 1;
      transform: scale(0.8);
    }
  }

  //Fundraiser Sections

  .fundraiser {
    span {
      font-family: 'Playfair Display', serif;
    }

    img {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.footer {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  text-align: center;

  .footer-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    

    button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 12pt;
      cursor: pointer;
      padding: 5px;
      border-bottom: solid 1px transparent;
      margin: 0 10px;
      
      &:focus {
        outline: none;
      }    

      &:hover {
        border-bottom: solid 1px #fff;
      }
    }
  }  

    a{
      text-decoration: none;
      color: white;

      &:hover{
        text-decoration: underline;
      }
    }
  

  .show-after {
    &::before {
      width: 80px;
      height: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(20px);
      top: 100%;
      background-color: $yellow;
      position: absolute;
      content: '';
    }
  }

  h2 {
    text-transform: capitalize;
    color: $lt-grey;
    font-size: 12pt;
    position: relative;
    margin-bottom: 40px;
    z-index: 3;
  }
}

//Common 
.share-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  h1{
    font-family: 'Poppins';
    color: white;
    font-size: 18pt;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .share-buttons{
    display: flex;

    button{
      margin: 0 5px;
    }
  }
}


@import './utils';
@import './laptop';
